body {
    background-image: url("/static/background images/abstractfractal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px; /* Set base font size */
    text-align: center;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100vh;
    margin: 0; /* Remove default margin */
    padding-top: 60px; /* Adjust based on the banner height */
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100%;
    width: 100%;
}

.sidebar {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    position: fixed;
    top: 60px; /* Adjusted to be below the banner */
    left: 0;
    padding-top: 60px; /* Ensure the content starts below the banner */
    width: 250px; /* Set the width of the sidebar */
    font-size: 16px; /* Smaller font size for the sidebar */
    color: yellow; /* Change text color to yellow */
}

.sidebar a,
.sidebar button,
.sidebar select {
    padding: 10px 15px;
    text-decoration: none;
    color: inherit; /* Inherit color from sidebar */
    display: block;
    transition: 0.3s;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: inherit; /* Ensure consistent font size */
}

.sidebar a:hover,
.sidebar button:hover,
.sidebar select:hover {
    color: yellow; /* Keep yellow color on hover */
}

.sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sidebarCollapse {
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 70px; /* Adjusted to be below the banner */
    left: 10px;
    z-index: 1001; /* Ensure it stays above other content but below the banner */
}

.content {
    margin-left: 250px; /* Same width as the sidebar */
    transition: margin-left 0.5s;
    padding: 16px;
}

.main-container.collapsed .content {
    margin-left: 0;
}

.main-container.collapsed .sidebar {
    width: 0;
    padding-top: 0;
}

.banner {
    width: 100%;
    background-color: red; /* Solid red background */
    color: white; /* White text color */
    text-align: center;
    padding: 10px 0; /* Vertical padding */
    position: fixed; /* Fixed position at the top */
    top: 0;
    left: 0;
    z-index: 1002; /* Ensure it stays on top */
    font-weight: bold; /* Bold text */
}
