<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Entry</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upload_styles.css') }}">
    <style>
        /* Add basic styles for the drop zone */
        .drop-zone {
            border: 2px dashed #ccc;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            cursor: pointer;
            color: #aaa;
        }
        .drop-zone.dragover {
            border-color: white;
            color: yellow;
        }
    </style>
</head>
<body>
    <div class="sidebar" id="sidebar">
        <button class="toggle-btn" onclick="toggleSidebar()">Toggle Sidebar</button>
        <h2>Forms</h2>
        <a href="#upload-image" onclick="showForm('upload-image')">Upload Image</a>
        <a href="#upload-document" onclick="showForm('upload-document')">Upload Document</a>
        <a href="#upload-powerpoint" onclick="showForm('upload-powerpoint')">Upload PowerPoint</a>
        <a href="#batch-upload" onclick="showForm('batch-upload')">Batch Upload Documents</a>
        <a href="#search-powerpoints" onclick="showForm('search-powerpoints')">Search PowerPoints</a>
        <a href="#search-images" onclick="showForm('search-images')">Search Images</a>
        <a href="#search-documents" onclick="showForm('search-documents')">Search Documents</a>
        <a href="/">Return to Main Page</a>
    </div>

    <div class="content" id="content">
        <!-- Add this block to render flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div id="upload-image" class="form-container">
            <h2>Upload Image</h2>
            <form action="/image/upload_image" method="post" enctype="multipart/form-data">
                <input type="text" name="title" placeholder="Image Title"><br>
                <textarea name="description" placeholder="Image Description"></textarea><br>
                <select name="area" id="image_areaDropdown"></select><br>
                <select name="equipment_group" id="image_equipmentGroupDropdown"></select><br>
                <select name="model" id="image_modelDropdown"></select><br>
                <select name="asset_number" id="image_assetNumberDropdown"></select><br>
                <select name="location" id="image_locationDropdown"></select><br>
                <input type="file" name="image" accept="image/*" required><br>
                <input type="submit" value="Upload Image">
            </form>
        </div>
    
        <div id="upload-image-folder" class="form-container">
            <h2>Upload Image Folder</h2>
            <form id="folder-upload-form" action="{{ url_for('folder_image_embedding_bp.process_folder') }}" method="post" enctype="multipart/form-data">
                <input type="text" name="folder_path" placeholder="Enter folder path"><br>
                <input type="text" name="model_name" placeholder="Model Name (optional)"><br>
                <input type="submit" value="Process Folder">
            </form>
        </div>

        <div id="upload-document" class="form-container">
            <h2>Upload Document</h2>
            <form action="/documents/add_document" method="post" enctype="multipart/form-data">
                <label for="title" style="color: black;">Document Title:</label>
                <input type="text" name="title" id="title" placeholder="Document Title"><br>
                <label for="areaDropdown" style="color: black;">Area:</label>
                <select name="area" id="areaDropdown"></select><br>
                <label for="equipmentGroupDropdown" style="color: black;">Equipment Group:</label>
                <select name="equipment_group" id="equipmentGroupDropdown"></select><br>
                <label for="modelDropdown" style="color: black;">Model:</label>
                <select name="model" id="modelDropdown"></select><br>
                <label for="assetNumberDropdown" style="color: black;">Asset Number:</label>
                <select name="asset_number" id="assetNumberDropdown"></select><br>
                <label for="locationDropdown" style="color: black;">Location:</label>
                <select name="location" id="locationDropdown"></select><br>
                <input type="file" name="files" id="files" multiple><br>
                <input type="submit" value="Upload Document">
            </form>
        </div>

        <div id="upload-powerpoint" class="form-container">
            <h2>Upload PowerPoint</h2>
            <form action="/powerpoints/upload_powerpoint" method="post" enctype="multipart/form-data">
                <input type="text" name="title" placeholder="PowerPoint Title"><br>
                <label for="area" style="color: black;">Area:</label><br>
                <select name="area" id="uploadpowerpoint_areaDropdown"></select><br>
                <label for="equipment_group" style="color: black;">Equipment Group:</label><br>
                <select name="equipment_group" id="uploadpowerpoint_equipmentGroupDropdown"></select><br>
                <label for="model" style="color: black;">Model:</label><br>
                <select name="model" id="uploadpowerpoint_modelDropdown"></select><br>
                <label for="asset_number" style="color: black;">Asset Number:</label><br>
                <select name="asset_number" id="uploadpowerpoint_assetNumberDropdown"></select><br>
                <label for="location" style="color: black;">Location:</label><br>
                <select name="location" id="uploadpowerpoint_locationDropdown"></select><br>
                <input type="text" name="description" placeholder="PowerPoint Description"><br>
                <input type="file" name="powerpoint" accept=".pptx" required><br>
                <input type="submit" value="Upload PowerPoint">
            </form>
        </div>

        <div id="batch-upload" class="form-container">
            <h2>Batch Upload Documents</h2>
            <form action="/batch_processing" method="post" enctype="multipart/form-data">
                <label for="batchTitle" style="color: black;">Document Title:</label>
                <input type="text" name="batchTitle" id="batchTitle" placeholder="Document Title"><br>
                <label for="batchAreaDropdown" style="color: black;">Area:</label>
                <select name="batchArea" id="batchAreaDropdown"></select><br>
                <label for="batchEquipmentGroupDropdown" style="color: black;">Equipment Group:</label>
                <select name="batchEquipmentGroup" id="batchEquipmentGroupDropdown"></select><br>
                <label for="batchModelDropdown" style="color: black;">Model:</label>
                <select name="batchModel" id="batchModelDropdown"></select><br>
                <label for="batchAssetNumberDropdown" style="color: black;">Asset Number:</label>
                <select name="batchAssetNumber" id="batchAssetNumberDropdown"></select><br>
                <label for="batchLocationDropdown" style="color: black;">Location:</label>
                <select name="batchLocation" id="batchLocationDropdown"></select><br>
                <label for="batchFolderPath" style="color: black;">Folder Path:</label>
                <input type="text" name="batchFolderPath" id="batchFolderPath" placeholder="Absolute Folder Path"><br>
                <input type="file" name="files" id="files" multiple><br>
                <input type="submit" value="Process Folder">
            </form>
        </div>

        <div id="search-powerpoints" class="form-container">
            <h2>Search PowerPoints</h2>
            <form id="search-powerpoints-form">
                <label for="description" style="color: black;">Description:</label><br>
                <input type="text" name="description" id="search_powerpoints_description" placeholder="Search by Description"><br>
                <label for="title" style="color: black;">Title:</label><br>
                <input type="text" name="title" id="search_powerpoints_title" placeholder="Search by Title"><br>
                <label for="area" style="color: black;">Area:</label><br>
                <select name="searchpowerpoint_area" id="searchpowerpoint_areaDropdown"></select><br>
                <label for="equipment_group" style="color: black;">Equipment Group:</label><br>
                <select name="searchpowerpoint_equipment_group" id="searchpowerpoint_equipmentGroupDropdown"></select><br>
                <label for="model" style="color: black;">Model:</label><br>
                <select name="searchpowerpoint_model" id="searchpowerpoint_modelDropdown"></select><br>
                <label for="asset_number" style="color: black;">Asset Number:</label><br>
                <select name="searchpowerpoint_asset_number" id="searchpower_assetNumberDropdown"></select><br>
                <label for="location" style="color: black;">Location:</label><br>
                <select name="searchpowerpoint_location" id="searchpowerpoint_locationDropdown"></select><br>
                <input type="submit" value="Search">
            </form>
        </div>

        <div id="search-images" class="form-container">
            <h2>Search and Compare Images</h2>
            <form id="search-images-form">
                <label for="description" style="color: black;">Description:</label><br>
                <input type="text" name="description" id="search_images_description" placeholder="Search by Description"><br>
                <label for="title" style="color: black;">Title:</label><br>
                <input type="text" name="title" id="search_images_title" placeholder="Search by Title"><br>
                <label for="area" style="color: black;">Area:</label><br>
                <select name="searchimage_area" id="searchimage_areaDropdown"></select><br>
                <label for="equipment_group" style="color: black;">Equipment Group:</label><br>
                <select name="searchimage_equipment_group" id="searchimage_equipmentGroupDropdown"></select><br>
                <label for="model" style="color: black;">Model:</label><br>
                <select name="searchimage_model" id="searchimage_modelDropdown"></select><br>
                <label for="asset_number" style="color: black;">Asset Number:</label><br>
                <select name="searchimage_asset_number" id="searchimage_assetNumberDropdown"></select><br>
                <label for="location" style="color: black;">Location:</label><br>
                <select name="searchimage_location" id="searchimage_locationDropdown"></select><br>
                <input type="submit" value="Search">
            </form>
            <h2>Upload and Compare Image</h2>
            <form id="upload-form" action="{{ url_for('image_compare_bp.upload_and_compare') }}" method="post" enctype="multipart/form-data">
                <div id="drop-zone" class="drop-zone">
                    Drag & Drop your image here or click to upload
                </div>
                <input type="file" id="file-input" name="query_image" accept="image/*" style="display: none;">
                <input type="hidden" name="model_name" value="clip"> <!-- Add the model_name here -->
                <button type="submit" style="display: none;">Upload and Compare</button>
            </form>
        </div>

        <div id="search-documents" class="form-container">
            <h2>Search Documents</h2>
            <form id="search-documents-form">
                <label for="title" style="color: black;">Title:</label><br>
                <input type="text" name="title" id="search_documents_title" placeholder="Title"><br>
                <label for="area" style="color: black;">Area:</label><br>
                <select name="searchdocument_area" id="searchdocument_areaDropdown"></select><br>
                <label for="equipment_group" style="color: black;">Equipment Group:</label><br>
                <select name="searchdocument_equipmentgroup" id="searchdocument_equipmentGroupDropdown"></select><br>
                <label for="model" style="color: black;">Model:</label><br>
                <select name="searchdocument_model" id="searchdocument_modelDropdown"></select><br>
                <label for="asset_number" style="color: black;">Asset Number:</label><br>
                <select name="searchdocument_asset_number" id="searchdocument_assetNumberDropdown"></select><br>
                <label for="location" style="color: black;">Location:</label><br>
                <select name="searchdocument_location" id="searchdocument_locationDropdown"></select><br>
                <input type="submit" value="Search">
            </form>
        </div>
        
        <div id="results" class="results-container">
            <h2>Search Results</h2>
            <ul id="documents-list"></ul>
            <ul id="image-results" class="image-container"></ul>
        </div>
    </div>
    
    <!-- Include jQuery using a CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Include Select2 library -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <!-- Include your custom JavaScript file -->
    <script src="{{ url_for('static', filename='batch_upload.js') }}"></script>
    <script src="{{ url_for('static', filename='upload_image.js') }}"></script>
    <script src="{{ url_for('static', filename='image_upload.js') }}"></script>
    <script src="{{ url_for('static', filename='upload_powerpoint.js') }}"></script>
    <script src="{{ url_for('static', filename='document_search.js') }}"></script>
    <script src="{{ url_for('static', filename='image_search.js') }}"></script>
    <script src="{{ url_for('static', filename='powerpoint_search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/drag_and_drop.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_image_folder.js') }}"></script>
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('collapsed');
        }

        function showForm(formId) {
            var forms = document.getElementsByClassName('form-container');
            for (var i = 0; i < forms.length; i++) {
                forms[i].style.display = 'none';
            }
            document.getElementById(formId).style.display = 'block';
            document.getElementById('results').style.display = 'none'; // Hide results container when showing a form
        }

        function showResults(content) {
            document.getElementById('results').style.display = 'block';
            document.getElementById('documents-list').innerHTML = content;
            document.getElementById('image-results').innerHTML = ''; // Clear image results
        }

        // Initially hide all forms and results
        document.addEventListener('DOMContentLoaded', function() {
            var forms = document.getElementsByClassName('form-container');
            for (var i = 0; i < forms.length; i++) {
                forms[i].style.display = 'none';
            }
            document.getElementById('results').style.display = 'none'; // Hide results container on page load
        });

        // Handle search form submissions
        document.getElementById('search-documents-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            var params = new URLSearchParams(formData);
            fetch('/search_documents?' + params.toString())
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        showResults(`<p>${data.error}</p>`);
                    } else {
                        renderDocumentResults(data);
                    }
                });
        });

        function renderDocumentResults(data) {
            var documentsList = '';
            data.documents.forEach(document => {
                documentsList += `<li><a href="search_documents/view_document/${document.id}" target="_blank">${document.title}</a></li>`;
            });
            showResults(documentsList);
        }

        document.getElementById('search-images-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            var params = new URLSearchParams(formData);
            fetch('/search_images?' + params.toString())
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        document.getElementById('results').style.display = 'block';
                        document.getElementById('documents-list').innerHTML = `<p>${data.error}</p>`;
                        document.getElementById('image-results').innerHTML = ''; // Clear document results
                    } else {
                        renderImageResults(data);
                    }
                });
        });

        function renderImageResults(data) {
            var imagesList = '';
            data.images.forEach(image => {
                imagesList += `<div class="image-details">
                                <a href="/serve_image/${image.id}" target="_blank">
                                    <img class="thumbnail" src="/serve_image/${image.id}" alt="${image.title}">
                                </a>
                                <div class="description">
                                    <h2>${image.title}</h2>
                                    <p>${image.description}</p>
                                </div>
                                <div style="clear: both;"></div>
                              </div>`;
            });
            document.getElementById('results').style.display = 'block';
            document.getElementById('image-results').innerHTML = imagesList;
            document.getElementById('documents-list').innerHTML = ''; // Clear document results
        }
    </script>
</body>
</html>
